.name1{
padding-left:30px;
font-weight:bold;	
}
.name2{
padding-left:25px;
font-weight:bold;	
}
.name3{
padding-left:25px;
font-weight:bold;	
}
.row{
border-bottom-style:inset;
padding-bottom:20px;
}	